/* set a max-width for horizontal fluid layout and make it centered */
body {
     background-color: #484B59;
}

.container{
   max-width:980px !important;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


/* TYPOGRAPHY */
h1 {
  font-size: 20px;
  color: #F9AA68;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #B2B2B2;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 0px;
}

.text-block-h2 {
  margin-bottom: 0px;
  margin-left: -15px;
}

h3, h4, .outline-button {
  font-size: 14px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.subhead {
  color: #484B59;
}


h6 {
  color: #B2B2B2;
}

p {
  font-family: 'Quicksand', serif;
  font-weight: 400;
  font-size: 16px;
  color: #353535;
  margin-top: 30px;
}

.pink-text {
  color: #ff6c9e;
}

.green-text {
  color: #58d677;
}

.p-white {
  color: #fff;
}

.p-grey {
  color: #6C6D6F;
  margin-top: -10px;
}

.p-grey-link {
  color: #6C6D6F;
}

.list-text {
  color: #fff;
  font-family: 'Quicksand', serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 0px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 10px;
}


/* wee mark */
.wee-mark {
  float: right;
  margin-right: -38px;
  margin-top: -88px;
}


/* spacer bar */

.spacer-hold {
  background-repeat: repeat;
  background: url('../refs/rpt-pale.png');
  height: 100px;
  padding: 16px;
  margin-top: 90px;
}

.spacer-h {
  font-size: 26px;
}

/* navigation */

.navbar-default {
  background-color: #323542;
  opacity: 0.80;
  border: none;
  height: 80px;
}

.navbar-default .navbar-collapse {
  border-color: #323542;
}

.nav-logo {
  margin-top: 6px;
  margin-left: -11px;
}

.navbar-default .navbar-nav li a {
  font-family: 'Quicksand', serif;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 14px;
}

.navbar-toggle {
  margin-top: 22px;
}

.navbar-nav {
  background-color: #323542;
  opacity: 1.0;
}

.navbar-default .navbar-toggle {
  border-color: #323542;
}

.navbar-default .navbar-nav li a:hover {
  color: #F9AA68;
}

/* BUTTONS */

.btn {
  padding: 13px 25px;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #ff6c9e;
}

.btn-primary-grey {
  background-color: #484B59;
}

.btn-primary-pink {
  background-color: #ff6c9e;
}

.btn-primary-green {
  background-color: #7DCB78;
}

.btn-primary-pink:hover,
.btn-primary-grey:hover {
  background-color: #FEAE5B;
}

.btn-primary-green:hover {
  background-color: #484B59;
}



/* BLOCKS */

.intro-header {
  background-color: #fff;
  padding: 30px;
  margin-top: -60px;
  text-align: center;
}

.top-push {
  position: relative;
  z-index: 500;
}

.header-img {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index:200;
}


.para-block {
  background-repeat: repeat;
  margin-top: 50px;
  margin-bottom: 40px;
}

.block-p {
  height: auto;
  background-color: #fff;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.sm-block-grey {
  background-color: #323542;
  height: 150px;
  padding: 15px 5px 15px 15px;
}

.sm-block-col {
  padding: 5px;
}

.sm-block-hold {
  margin-top: 20px;
}


/* CONTACT CALLOUT */

.contact-callout {
  text-align: left;
  margin: 40px;
  margin-left: 0px;
  margin-right: 0px;
}

.contact-callout-btn {
  display: inline;
  float: right;
  margin-top: 39px;
  margin-right: 40px;
  margin-left: 10px;
}

.block-header {
  padding: 12px;
  margin-left: 50px;
  width: 137px;
  margin: 40px 0px -20px 30px;
}

.block-orange {
  background-color: #FEAE5B;
}

.block-green {
  background-color: #58d677;
}


/* COL CAPS */
.left-block-sm {
  background-repeat: repeat;
  height: 300px;
  padding: 0;
}

.right-block-sm {
  background-repeat: repeat;
  height: 300px;
  padding: 0;
}

.block-img {
  width: 100%;
}

#img-olson {
  background-image: url(../refs/olson-madwomen.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

#img-ownit {
  background-image: url(../refs/ownit_thumb.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

#img-hackingtheissues {
  background-image: url(../refs/zj-hack-img.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.block-cap {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-top: 100px;
}

.block-cap > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 11px;
}

.bkgd-tile-green {
  background: url('../refs/rpt-greenbkgd.png');
}

.bkgd-tile-orange {
  background: url('../refs/rpt-orangebkgd.png');
}

.bkgd-tile-pink {
  background: url('../refs/rpt-pinkbkgd.png');
}

/* COL COPY*/

.left-block {
  padding: 50px;
  height: 300px;
}

.right-block {
  padding: 50px;
  height: 300px;
  display: inline;
  float: right;
}

.para-block-green {
  background-color: #56C573;
}

.para-block-orange {
  background-color: #FEAE5B;
}

.para-block-white {
  background-color: #fff;
}

.para-block-white h2, .para-block-white h4, .para-block-white p {
  color: #333;
}

/* block para*/

.two-col-block-p {
  color: #fff;
  background-color: none;
}

.block-h2 {
  font-size: 26px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin-top: 0px;
}

.two-col-hold {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* OUTLINE BLOCK */
.outline-block {
  border: solid 1px #fff;
  padding: 24px;
}

.ob-green {
  border: solid 1px #7DCB78;
}

.span-green {
  color: #7DCB78;
}

.outline-block h4 {

}

.outline-button {
  background-color: #7DCB78;
  margin: 0px -25px -24px -25px;
  padding: 20px;
}

/* TEXT BLOCK */

.block-h3 {
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 15px;
}


/* STATS */
.stats-hold {
  border: solid 1px #7BC580;
  height: 122px;
  margin-top: 35px;
}

.stat-primary {
  background-color: #7BC580;
}

.stat,
.stat-green,
.stat-h3 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  text-align: center;
}

.stat {
  font-size: 60px;
  margin-top: -30px;
  font-weight: 300;
}

.stat-green {
  color: #7BC580;
}


/* RULES */
.rule,
.sm-rule {
  height: 1px;
  background-color: #b2b2b2;
  margin: 50px auto 50px auto;
}

.rule {
  width: 100%;
}

.sm-rule {
  width: 50px;
}

/* HEADER IMG */

/*   SOCIAL    */
.circle-icon {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #323542;
  margin: 0 12px 0 12px;
  text-align: center;
}

.circle-icon:hover {
  background-color: #58d677;
}

.fa {
  color: #fff;
  padding-top: 18px;
}

/* BOARD */

#portfoliolist {
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
  }

  .portcol {
    padding: 3px;
  }

  .portfolio img {
    max-width: 100%;
    width: 100%;
    position: relative;
  }

  .portfolio .portlabel {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -20px;
  }

    .portfolio .portlabel-bg {
      background: #323542;
      width: 100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
    }

    .portfolio .portlabel-text {
      position: relative;
      z-index: 500;
      padding: 8px 8px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      padding-left: 10px;
    }

      .portfolio .text-title {
        text-decoration: none;
        color: #ffffff;
        margin-top: 0px;
        margin-bottom: 2px;
      }

      .portfolio .text-category {
        text-transform: uppercase;
        color: #ff6c9e;
        display: block;
        font-size: 12px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        margin-top: 0px;
      }



/* FOOTER */

.footer {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.footer-hold-hold {
  margin-top: 60px;
}

.footer-hold {
  background-color: #323542;
}

.footer-header {
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
  padding-top: 30px;
}

.block-footer {
  margin-left: 0;
  margin-top: -20px;
}

.footer-nav-hold {
  background-repeat: repeat;
  background: url('../refs/rpt-pale.png');
  background-color: #323542;
  height: 100px;
}

.footer-nav {
  padding-left: 0px;
  padding-top: 21px;
}

.footer-nav li {
  display: inline;
  padding-left: 40px;
}

.footer-nav a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #fff;
}

.footer-right {
  text-align: right;
}

.footer-left {
  padding-left: 0px;
}

.social-left {
  margin-top: 20px;
}

.circle-icon-left {
  margin-left: 0px;
}

.form-control {
  display: inline;
  height: 45px;
  border-radius: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#mce-success-response,
#mce-error-response {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
}

.mc-field-group {
  display: inline;
}

.error-response {
  background-color: #ff6c9e;
  font-family: 'Quicksand', sans-serif;
}

.form-control-two-left {
  padding-left: 0px;
  padding-right: 5px;
}

.form-control-two-right {
  padding-right: 0px;
  padding-left: 5px;
}

.footer-form {
  margin-top: 37px;
  margin-bottom: 50px;
}
